<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session</title>
    <!--Integrating SocketJS with flask template-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  </head>
  <body>
    <form class="infoForm" action="" method="POST">
      <input type="text" class="username" placeholder="User Name" />
      <input type="text" class="message" placeholder="Messages" />
      <input type="submit" />
    </form>
    <div class="message-holder"></div>
    <!--this is just a form-->
    <!--We'll have to use io.connect so as to connect both users to the same url-->
    <style>
        body{
            background-color:darkgrey;
            color:white;
        }
    </style>
    <script src="../static/index.js"></script>
  </body>
</html>
<!--
    Add username saving functionality
-->
